.custom_navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #b2dce129;
}

li {
    list-style: none;
}

.custom_navbar li a {
    text-decoration: none;
    font-size: 22px;
    color: #333;
}

.list {
    display: flex;
    justify-content: space-between;
}

.list li {
    margin: 0px 10px;

}

.list li a {
    text-decoration: none;
    font-size: 22px;
    color: #333;
    ;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-size: 50px;
    padding: 22px;
}

.paragraph {
    text-align: center;
    font-size: 22px;
    padding: 22px;
    
}

.card {
    width: 30%;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    border-radius: 50px;
}

.card h4 {
    padding: 24px;
}

.card p {
    padding-left: 24px;
}

.profile {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile img {
    width: 100%;

}

.profile_content {
    width: 60%;
}

.profile_contentImg {
    width: 40%;
}

.profile_content p {
    font-size: 22px;
    max-width: 500px;
    margin: 0px auto;
}

.profile_content button {

    border-radius: 4px;
    font-size: 24px;
    margin-top: 40px;
}

section {
    padding: 30px 0px;

}

input[type=text],
select {
    /* width: 100px; */
    padding: 12px 20px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form_boder {
    border-radius: 4px;
    border: 1px solid;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
}

.form_boder h3 {
    text-align: center;
}

.form_boder input {
    width: 100%;
}

.button {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 50px;
    background-color: antiquewhite;
}

footer p {
    margin-bottom: 0;
}